.quote-wrapper {
    max-width: 45vw;
    background-color: var(--color);
    border-radius: 3px;
    margin: 11rem auto;
    font-family: 'Raleway';
    font-size:x-large;
    padding: 2rem 3rem;
}

@media screen and (max-width: 750px) {
    .quote-wrapper {
        max-width: 750px;
        text-align: center;
        padding: 1em;
    }
    .fb-twitter-wrap {
        margin: .5em;
    }
}
.quote {
    display: flex;
    align-items: first baseline;
    overflow: hidden;
    word-break:keep-all;
    line-height: 1.5em;
    margin-bottom: 2em;
    font-weight: 500;
    text-align: center;
    color: white;
}

.author {
    text-align: end;
    margin-bottom: 2em;
    font-size: 0.75em;
    color: white;
}

.fb-twitter-wrap {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 300px){
    .fb-twitter-wrap {
        flex-direction: column;
        align-items: center;
    }
}

.icon {
    color: white;
    background-color: var(--color) !important;
    padding: 10px;
    width: 2.5em;
    text-align: center;
    border-radius: 3px;
    font-size: large;
    cursor: pointer;
    margin: 0 0.2em;
    border: 1px solid white;
}

.last-line-wrap {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 350px){
    .last-line-wrap {
        flex-direction: column;
        align-items: center;
        margin: .5em;
    }
}

.button {
    padding: .5rem 1rem;
    color: white;
    background-color: var(--color) !important;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1em;
    border: 1px solid white;
}

.button:hover {
    opacity: 0.7;
}